[v-cloak] {
    display: none;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
.header-admin {
    border-color: #e9ecf3;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.logo {
    position: absolute;
    left: 10px;
    /*top: 12px;*/
}
.layui-input-submit {
    margin-left: 0px;
    text-align: right;
    /*background-color: #f2f2f2;*/
    height: 48px;
    line-height: 48px;
}
.layui-input:hover, .layui-textarea:hover {
    background-color: #f3f3f3;
}
.layui-block-item {
    /*margin-top: 5px;*/
    border-left:0px solid #ffffff;
    background-color: #ffffff;
}
.layui-nav-tree .layui-nav-child dd.layui-this-new, .layui-nav-tree .layui-nav-child dd.layui-this-new a, .layui-nav-tree .layui-this-new, .layui-nav-tree .layui-this-new>a, .layui-nav-tree .layui-this-new>a:hover {
    background-color: rgba(231, 242, 241, 0.83);
    color: #009688;
}

.layui-form .layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #5fb878;
}

.layui-field-block {
    margin-left: 0px!important;
    padding: 0px!important;
}
.layui-grid {
    padding-left: 25px;
    color: #000;
}
.layui-grid {
    padding-left: 25px;
    color: #000;
}
.layui-grid .title {
    font-size: 32px;
    width: 100%;
    height: 50px;
    line-height: 30px;
    /*margin-bottom: 20px;*/
}
.item-title {
    /*margin:0px 0px 5px 0px;*/
    margin-bottom: 5px;
}
.item-title .layui-btn {
    padding: 0 7px;
}
.item-search {
    font-size: 10px;
    height: 32px;
    border-radius: 3px;
    padding-left: 30px;
    background-color: #eee;
}
.item-search-buttom {
    font-size: 10px;
    height: 31px;
    width: 200px;
    border-radius: 1px;
    background-color: #eee;
}
.item-search-fa {
    position: absolute;
    margin-top: -27px;
    margin-left: 10px;
}
.fa-search-input {
    width: 32px;
    color: #999;
}
.layui-inline-block {
    margin-left: 38px;
}
.layui-badge-font {
    height: 38px;
    line-height: 44px;
    border-radius: 2px;
    width: 20px;
    background-color: #f2f2f2!important;
}
.layui-item-but {
    margin: 0px 0px 8px 38px;
}
.layui-item-but .layui-input-inline .layui-form-select .layui-select-title .layui-unselect {
    background-color: #5fb878;
    color: white;
    height: 30px;
    width: 120px;
    font-size: 12px;
}
.layui-text-title {
    margin-top: 5px;
}
.layui-item-jsonup {
    position: relative;
    display: none;
}
.layui-item-jsonup textarea {
    display: block;
    width: 300px;
    height: 160px;
    border: 10px solid #F8F8F8;
    border-top-width: 0;
    padding: 10px;
    line-height:20px;
    overflow:auto;
    background-color: #3F3F3F;
    color: #eee; font-size:12px;
    font-family:Courier New;
}
.layui-item-jsonup a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.item-consult {
    padding-left: 17px;
    /*padding-right: 37px;*/
}
.item-consult .layui-tab-brief>.layui-tab-title .layui-this {
    color: #5fb878;
}
.layui-tab-code {
    /*border-radius: 3px;*/
    border: 1px solid #e2e2e2;
}
.layui-btn-green {
    background-color: #5fb878!important;
}
.layui-btn-gray {
    background-color: #666!important;
}
.layui-btn-blue {
    background-color: #009688!important;
}
.layui-badge-list {
    border-radius: 3px;
    margin-right: 5px;
    padding-top: 1px;
    background-color: #009688;
}
.layui-badge-arrow {
    height: 18px;
    border-radius: 2px;
    background-color: #e6e6e6;
    color: #b2b2b2;
    border: 0px solid #ffffff;
}
.layui-wang-editor {
    background-color: #f8f8f8;
    height: 400px;
}
.admin-li, .partner-li {
    padding: 10px 0px;
    overflow: auto;
    margin-bottom: 15px;
}
.item-li .title-p {
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    width: 6%;
    line-height: 36px;
    text-align: center;
    /*border-bottom: 2px solid #5fb878;*/
}
.admin-li .item-child-li {
    width: 220px;
    padding: 10px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    margin-right: 10px;
    /*border: 1px solid #ededed;*/
    background-color: #f8f8f8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.item-li .people-ul {
    height: 40px;
    line-height: 40px;
    margin-top: 0px;
}
.people-ul .name-summary-li {
    -webkit-border-radius: 23px;
    border-radius: 23px;
    width: 41px;
    height: 41px;
    line-height: 41px;
    background-color: #5fb878;
    text-align: center;
    color: #ffffff;
    border: 1px solid #f3f3f3;
    font-size: 14px;
}
.item-li .people-ul .people-li {
    margin-left: 15px;
    width: 142px;
}
.item-li .people-ul .people-li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 21.5px;
    line-height: 21.5px;
    font-size: 14px;
}
.admin-li .item-child-li .people-ul .list-li .icon-caidan {
    display: block;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}
.admin-li .item-child-li .people-ul .list-li .list-function-wrap {
    position: absolute;
    cursor: default;
    margin-left: -65px;
    margin-top: -54px;
    min-width: 90px;
    margin-bottom: 10px;
}
.admin-li .item-child-li .people-ul .list-li .list-function-wrap .list-function-ul {
    background-color: #fbfbfb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.04), 0 6px 30px 5px rgba(0,0,0,.08), 0 8px 10px -5px rgba(0,0,0,.12);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.04), 0 6px 30px 5px rgba(0,0,0,.08), 0 8px 10px -5px rgba(0,0,0,.12);
}
.admin-li .item-child-li .people-ul .list-li .list-function-wrap .list-function-ul li {
    float: none;
    cursor: pointer;
    font-weight: initial;
    text-align: left;
    height: auto;
}
.admin-li .item-child-li .people-ul .list-li .list-function-wrap .list-function-ul .list-function-detail li {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    font-size: 13px;
}
.admin-li .item-child-li .people-ul .list-li .list-function-wrap .list-function-ul .list-function-detail li:hover {
    background-color: #f0f0f0;
}
.w-e-item h1, .w-e-text h1 {
    font-size: 36px;
}
.w-e-item h2, .w-e-text h2 {
    font-size: 30px;
}
.w-e-item h3, .w-e-text h3 {
    font-size: 24px;
}
.w-e-item h4, .w-e-text h4 {
    font-size: 18px;
}
.w-e-item h5, .w-e-text h5 {
    font-size: 14px;
}