[v-cloak] {
    display: none;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
.header-admin {
    border-color: #e9ecf3;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.logo {
    position: absolute;
    left: 10px;
    /*top: 12px;*/
}
.layui-input-submit {
    margin-left: 0px;
    text-align: right;
    /*background-color: #f2f2f2;*/
    height: 48px;
    line-height: 48px;
}
/*.layui-input:focus {*/
    /*border: 1px solid #ddd!important;*/
    /*background-color: white;*/
/*}*/
.layui-block-item {
    margin-top: 5px;
    border-left:0px solid #ffffff;
    background-color: #ffffff;
}
.layui-nav-tree .layui-nav-child dd.layui-this-new, .layui-nav-tree .layui-nav-child dd.layui-this-new a, .layui-nav-tree .layui-this-new, .layui-nav-tree .layui-this-new>a, .layui-nav-tree .layui-this-new>a:hover {
    background-color: rgba(231, 242, 241, 0.83);
    color: #009688;
}
.layui-field-block {
    margin-left: 0px!important;
    padding: 0px!important;
}
.layui-grid {
    padding-left: 25px;
    color: #000;
}
.layui-grid {
    padding-left: 25px;
    color: #000;
}
.layui-grid .title {
    font-size: 32px;
    width: 100%;
    height: 50px;
    line-height: 30px;
    /*margin-bottom: 20px;*/
}
.item-title {
    /*margin:0px 0px 5px 0px;*/
    margin-bottom: 5px;
}
.item-title .layui-btn {
    padding: 0 7px;
}
.item-search {
    font-size: 10px;
    height: 32px;
    border-radius: 3px;
    padding-left: 30px;
    background-color: #eee;
}
.item-search-fa {
    position: absolute;
    margin-top: -27px;
    margin-left: 10px;
}
.fa-search-input {
    width: 32px;
    color: #999;
}
.layui-inline-block {
    margin-left: 38px;
}
.layui-badge-font {
    height: 38px;
    line-height: 44px;
    border-radius: 2px;
    width: 20px;
    background-color: #f2f2f2!important;
}
.layui-item-but {
    margin: 0px 0px 8px 38px;
}
.layui-item-but .layui-input-inline .layui-form-select .layui-select-title .layui-unselect {
    background-color: #5fb878;
    color: white;
    height: 30px;
    width: 120px;
    font-size: 12px;
}
.layui-text-title {
    margin-top: 5px;
}
.layui-item-jsonup {
    position: relative;
    display: none;
}
.layui-item-jsonup textarea {
    display: block;
    width: 300px;
    height: 160px;
    border: 10px solid #F8F8F8;
    border-top-width: 0;
    padding: 10px;
    line-height:20px;
    overflow:auto;
    background-color: #3F3F3F;
    color: #eee; font-size:12px;
    font-family:Courier New;
}
.layui-item-jsonup a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.item-consult {
    padding-left: 17px;
}
.item-consult .layui-tab-brief>.layui-tab-title .layui-this {
    color: #5fb878;
}
.layui-tab-code {
    /*border-radius: 3px;*/
    border: 1px solid #e2e2e2;
}
.layui-btn-green {
    background-color: #5fb878!important;
}
.layui-btn-gray {
    background-color: #666!important;
}
.layui-badge-list {
    border-radius: 2px;
    margin-right: 5px;
    padding-top: 1px;
    background-color: #333;
}