{extend name="common@public/base" /}
{block name="main"}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-exclamation-circle">&nbsp;&nbsp;</i>接口列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-anim layui-anim-upbit">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md2">
                            <div class="layui-elem-quote layui-block-item" style="overflow:hidden;">
                                <div class="item-title">
                                    <input type="hidden" name="pid" value="{$id}" id="page_pid"/>
                                    <button class="layui-btn layui-btn-small" id="addGroup">添加分组</button>
                                    <button style="margin-left:1px;display:none" class="layui-btn layui-btn-small layui-btn-warm" id="editGroup">修改分组</button>
                                    <button style="margin-left:1px;display:none" class="layui-btn layui-btn-small layui-btn-danger" id="delGroup">删除分组</button>
                                </div>
                                <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-top:5px;width:100%;">
                                    <li class="layui-nav-item layui-this"><a href="javascript:;" data-gid=0><i class="fa fa-th-list">&nbsp;&nbsp;</i>所有接口</a></li>
                                    <li class="layui-nav-item"><a href="javascript:;" data-gid=0><i class="fa fa-trash">&nbsp;&nbsp;</i>接口回收站</a></li>
                                    {foreach $group as $vo}
                                        {if condition="($vo.group_ParentId eq 0) and (empty($vo.items) eq true)"}
                                            <li class="layui-nav-item"><a href="javascript:;" data-gid="{$vo.group_Id}">{$vo.group_Name}</a></li>
                                        {else /}
                                            <li class="layui-nav-item">
                                                <a href="javascript:;" class="twonav" data-gid="{$vo.group_Id}">{$vo.group_Name}</a>
                                                <dl class="layui-nav-child">
                                                    {foreach $vo.items as $v}
                                                        <dd><a href="javascript:;" data-gid="{$v.group_Id}">{$v.group_Name}</a></dd>
                                                    {/foreach}
                                                </dl>
                                            </li>
                                        {/if}
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                        <div class="layui-col-md10" id="main">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-anim layui-anim-upbit">
                                    <div class="layui-block-item layui-elem-quote">
                                        <button class="layui-btn layui-btn-small" @click="addInterface()">添加接口</button>
                                        <div class="layui-input-inline">
                                            <input type="tel" name="phone" placeholder="请输入关键字" lay-verify="required|phone" autocomplete="off" class="layui-input item-search">
                                            <div class="item-search-fa"><i class="fa fa-search fa-search-input">&nbsp;&nbsp;</i></div>
                                        </div>
                                        <table class="layui-table" lay-even="" lay-skin="nob">
                                            <thead>
                                            <tr>
                                                <th>当前状态</th>
                                                <th>项目名称</th>
                                                <th>版本号</th>
                                                <th style="text-align:center;">项目进度</th>
                                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                <th style="min-width:150px;">项目成员</th>
                                                <th>创建时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody v-cloak>
                                            <tr v-for="item in menu_items">
                                                <td><button class="layui-btn layui-btn-mini" :class="item.project_Status.style">{{ item.project_Status.str }}</button></td>
                                                <td style="white-space:pre;">{{ item.project_Name }}</td>
                                                <td>V {{ item.project_Version }}</td>
                                                <td>
                                                    <div class="layui-progress" style="margin-top:3px;">
                                                        <div class="layui-progress-bar" :style="{width: item.project_Progress + '%'}">
                                                            <!--<span class="layui-progress-text">当前进度{{ item.project_Progress }}%</span>-->
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <div class="layui-inline">
                                                        <img alt="image233333" class="layui-circle" src="__IMG__/default/top.jpg" style="max-width:30px;">
                                                    </div>
                                                </td>
                                                <td>{{ item.create_time }}</td>
                                                <td>
                                                    <a class="layui-btn layui-btn-normal layui-btn-mini" :href="'/project/index/' + item.project_Id + '.html'">查看项目</a>
                                                    <a class="layui-btn layui-btn-mini" @click="menuClick(2, item.project_Id)">编辑</a>
                                                    <a class="layui-btn layui-btn-danger layui-btn-mini" @click="menuClick(3, item.project_Id)">删除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div id="page" style="text-align: center">
                                            <pagination :cur="1" :all="pageAll" :page-num="perPage" @page-to="loadProjectList"></pagination>
                                            <!--<button @click="nextList($event)" id="next" class="layui-btn layui-btn-small" style="background-color: #ffffff;color: black">加载更多</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['element', 'layer', "jquery"], function(){
        var element = layui.element,
            $ = layui.jquery,
            layer = layui.layer,
            pagefun = {},
            pid = $("#page_pid").val(),
            gpid = 0;

//        element.on('tab(docDemoTabBrief)', function(data){
//            if(data.index == 1)
//                lists.loadProjectList(1);
//        });

        pagefun = {
            actionMenu: function(){
                if(gpid < 1){
                    $("#editGroup").hide();
                    $("#delGroup").hide();
                }else{
                    $("#editGroup").show();
                    $("#delGroup").show();
                }
            },
            openApiGroup: function(title, url){
                layer.open({
                    type: 2
                    ,title: title
                    ,id: 'group'
                    ,content: [url, 'no']
                    ,shade: 0
                    ,area: ['485px', '280px']
                    ,end: function(){} // window.location.reload();
                });
            }
        };

        element.on('nav(demo)', function(data){
            $(".twonav").each(function(){
                $(this).removeClass('layui-this');
            });

            gpid = data.children("a:first-child").attr('data-gid');
            pagefun.actionMenu();

            console.log(gpid);
            console.log(data);
        });

        $(".twonav").click(function(){
            var nav = $(this).parent();
            $(".layui-nav-item").each(function(){
                $(this).removeClass('layui-this');
            });

            if(!nav.hasClass('layui-this'))
                nav.addClass('layui-this');

            gpid = $(this).attr('data-gid');
            pagefun.actionMenu();

            console.log(gpid);
            console.log(nav);
        });

        $("#addGroup").click(function(){
            pagefun.openApiGroup('分组添加', "{:Url('project/api_group/create')}" + "?pid=" + pid + "&gpid=" + gpid);
        });

        $("#editGroup").click(function(){
            pagefun.openApiGroup('分组编辑', "/project/api_group/" + gpid + "/edit");
        });

        $("#delGroup").click(function(){
            layer.confirm('你确定要删除吗？', {
                btn: ['继续','取消']
            }, function(){
                $.ajax({
                    url : "/project/api_group/" + gpid,
                    type: "DELETE",
                    error:function(){layer.msg('删除失败！', {anim: 6})},
                    success:function(res){
                        layer.msg("删除成功！", {time: 2000, icon: 1});
                        window.location.reload();
                    }
                });
            });
        });

        var lists = new Vue({
            el: "#main",
            data: {
                menu_items: [],
                pageAll: 0,
                perPage: 10  // 数字分页
            },

            methods: {
                loadProjectList: function(page){
                    layer.load();
                    $.ajax({
                        url : "/admin/project" + "?page=" + page,
                        type: "GET",
                        dataType: "json",
                        error:function(){layer.msg('请求栏目列表失败!', {anim: 6})},
                        success:function(res){
                            layer.closeAll('loading');
                            if (res.status > 0) {
                                lists.perPage = res.data.per_page;
                                lists.pageAll = res.data.last_page; // 数字分页
                                lists.menu_items = res.data.data;
                            }else{
                                layer.msg(res.msg, {anim: 6});
                            }
                        }
                    });
                },

                addInterface: function(){
                    layer.open({
                        type: 2
                        ,title: '接口添加'
                        ,id: 'menu'
                        ,content: ["{:Url('project/api/create')}" + "?gid=" + gpid + "&pid=" + pid]
                        ,shade: 0
                        ,resize: false
                        ,area: ['1060px', '800px']
                        ,end: function(){
//                            lists.loadProjectList(1);
                            // window.location.reload();
                        }
                    });
                },

                menuClick: function(type, id){
                    if(type == 1){
                        this.addMenu(id);
                    }else if(type == 2){
                        layer.open({
                            type: 2
                            ,title: '项目修改'
                            ,content: ["/admin/project/" + id + "/edit", 'no']
                            ,shade: 0
                            ,area: ['532px', '615px']
                            ,end: function(){
                                lists.loadProjectList(1);
                            }
                        });
                    }else if(type == 3){
                        layer.confirm('你确定要删除吗？', {
                            btn: ['继续','取消']
                        }, function(){
                            $.ajax({
                                url : "/admin/project/" + id,
                                type: "DELETE",
                                error:function(){layer.msg('删除失败！', {anim: 6})},
                                success:function(res){
                                    layer.msg("删除成功！", {time: 1000, icon: 1});
                                    lists.loadProjectList(1);
                                }
                            });
                        });
                    }else{
                        layer.msg("参数错误");
                    }
                }
            },

            mounted: function(){
//                this.loadProjectList(1);
            }
        });
    });
</script>
{/block}