{extend name="common@public/base" /}
{block name="main"}
<div class="layui-body" id="main">
    <!-- 内容主体区域 -->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-exclamation-circle">&nbsp;&nbsp;</i>项目概况</li>
            <li><i class="fa fa-sliders">&nbsp;&nbsp;</i>项目动态</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-anim layui-anim-upbit">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md9">
                            <div class="layui-elem-quote layui-block-item">
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend class="layui-field-block">项目详情</legend>
                                </fieldset>
                                <div class="layui-row">
                                    <div class="layui-col-md12">
                                        <div class="layui-row grid-demo">
                                            <div class="layui-col-md4">
                                                <div><img src="{$project_Cover}" style="width:30%;height:100%;background-size:100%;overflow:hidden;"/></div>
                                            </div>
                                            <div class="layui-col-md8">
                                                <div class="layui-grid">
                                                    <div class="title">{$project_Name}</div>
                                                    <ul class="l-con-box">
                                                        <li>
                                                            <b>状态：</b>
                                                            <button class="layui-btn layui-btn-mini {$project_Status.style}">{$project_Status.str}</button>
                                                        </li>
                                                        <li>
                                                            <b>最后更新时间：</b>
                                                            <span>{$update_time}</span>
                                                        </li>
                                                        <li>
                                                            <b>客户：</b>
                                                            <span class="kehu">百度</span>
                                                        </li>
                                                        <li>
                                                            <b>创建于：</b>
                                                            <span>{$create_time}</span>
                                                        </li>
                                                        <li>
                                                            <b>版本：</b>
                                                            <span>v{$project_Version}</span>
                                                        </li>
                                                        <li>
                                                            <b>团队成员：</b>
                                                            <ul class="menber">
                                                                <li><img alt="image233333" class="layui-circle" src="__IMG__/default/top.jpg" style="max-width:30px;"></li>
                                                            </ul>
                                                        </li>
                                                        <li class="puld">
                                                            <b>当前进度：</b>
                                                            <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                                                <div class="layui-progress-bar" lay-percent="{$project_Progress}%"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--<div class="layui-col-md12">-->
                                                <!--<div class="grid-demo grid-demo-bg3">内部列</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <!--<div class="layui-col-md7">-->
                                        <!--<div class="layui-row grid-demo grid-demo-bg1">-->
                                            <!--<div class="layui-col-md12">-->
                                                <!--<div class="grid-demo">内部列</div>-->
                                            <!--</div>-->
                                            <!--<div class="layui-col-md9">-->
                                                <!--<div class="grid-demo grid-demo-bg2">内部列</div>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash;<div class="layui-col-md3">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<div class="grid-demo grid-demo-bg3">内部列</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <div class="layui-elem-quote layui-block-item">
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend class="layui-field-block">后台部分左侧栏目</legend>
                                </fieldset>
                                <div style="padding: 15px;">内容主体区域</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['element', 'layer', "jquery"], function(){
        var element = layui.element,
            $ = layui.$,
            layer = layui.layer;

        element.on('tab(docDemoTabBrief)', function(data){
            if(data.index == 1)
                lists.loadProjectList(1);
        });

        var lists = new Vue({
            el: "#main",
            data: {
                menu_items: [],
                pageAll: 0,
                perPage: 10  // 数字分页
            },

            methods: {
                loadProjectList: function(page){
                    layer.load();
                    $.ajax({
                        url : "/admin/project" + "?page=" + page,
                        type: "GET",
                        dataType: "json",
                        error:function(){layer.msg('请求栏目列表失败!', {anim: 6})},
                        success:function(res){
                            layer.closeAll('loading');
                            if (res.status > 0) {
                                lists.perPage = res.data.per_page;
                                lists.pageAll = res.data.last_page; // 数字分页
                                lists.menu_items = res.data.data;
                            }else{
                                layer.msg(res.msg, {anim: 6});
                            }
                        }
                    });
                },

                addMenu: function(id){
                    layer.open({
                        type: 2
                        ,title: '项目添加'
                        ,id: 'menu'
                        ,content: ["{:Url('project/create')}" + "?id=" + id, 'no']
                        ,shade: 0
                        ,area: ['532px', '623px']
                        ,end: function(){
                            lists.loadProjectList(1);
                            // window.location.reload();
                        }
                    });
                },

                menuClick: function(type, id){
                    if(type == 1){
                        this.addMenu(id);
                    }else if(type == 2){
                        layer.open({
                            type: 2
                            ,title: '项目修改'
                            ,content: ["/admin/project/" + id + "/edit", 'no']
                            ,shade: 0
                            ,area: ['532px', '623px']
                            ,end: function(){
                                lists.loadProjectList(1);
                            }
                        });
                    }else if(type == 3){
                        layer.confirm('你确定要删除吗？', {
                            btn: ['继续','取消']
                        }, function(){
                            $.ajax({
                                url : "/admin/project/" + id,
                                type: "DELETE",
                                error:function(){layer.msg('删除失败！', {anim: 6})},
                                success:function(res){
                                    layer.msg("删除成功！", {time: 1000, icon: 1});
                                    lists.loadProjectList(1);
                                }
                            });
                        });
                    }else{
                        layer.msg("参数错误");
                    }
                }
            },

            mounted: function(){
//                this.loadProjectList(1);
            }
        });
    });
</script>
{/block}