{extend name="common@public/base" /}
{block name="main"}
<div class="layui-body" id="main">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-exclamation-circle">&nbsp;&nbsp;</i>项目概况</li>
        </ul>
        <div class="layui-tab-content" v-cloak>
            <div class="layui-tab-item layui-show">
                <div class="layui-anim layui-anim-upbit">
                    <div class="layui-block-item layui-elem-quote">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-anim layui-anim-upbit">
                                <div class="layui-block-item layui-elem-quote">
                                    <table class="layui-table" lay-even="" lay-skin="nob" style="margin-top: 0px;">
                                        <thead>
                                        <tr>
                                            <th>操作时间</th>
                                            <th>操作人</th>
                                            <th>操作类型</th>
                                            <th>操作对象</th>
                                            <th>操作动作</th>
                                            <th>备注</th>
                                        </tr>
                                        </thead>
                                        <tbody v-cloak>
                                        <tr v-for="item in items">
                                            <td>{{ item.create_time }}</td>
                                            <td>{{ item.log_name }}</td>
                                            <td><span class="layui-badge layui-badge-list" :class="item.log_type.style">{{ item.log_type.str }}</span></td>
                                            <td><b>{{ item.log_model }}</b></td>
                                            <td>{{ item.log_type.str + item.log_model + '：' + item.log_title }}</td>
                                            <td>{{ item.log_content }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div id="page" style="text-align: center">
                                        <pagination :cur="1" :all="pageAll" :page-num="perPage" @page-to="loadLogList"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['layer', "jquery"], function(){
        var $ = layui.jquery,
            layer = layui.layer;

        var lists = new Vue({
            el: "#main",
            data: {
                project_id: "{$id}",
                items: {},
                pageAll: 0,
                perPage: 10
            },

            methods: {
                loadLogList: function(page){
                    layer.load();
                    $.ajax({
                        url : "/project/log/" + this.project_id + "?page=" + page,
                        type: "GET",
                        dataType: "json",
                        error:function(){layer.msg('请求列表失败!', {anim: 6})},
                        success:function(res){
                            layer.closeAll('loading');
                            if(res.code > 0){
                                lists.items = res.data.data;
                                lists.perPage = res.data.total;
                                lists.pageAll = res.data.last_page;
                            }else{
                                layer.msg(res.msg, {anim: 6});
                            }
                        }
                    });
                }
            },

            mounted: function(){
                this.loadLogList(1);
            }
        });
    });
</script>
{/block}