{extend name="common@public/base" /}
{block name="main"}
<div class="layui-body" id="main">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-exclamation-circle">&nbsp;&nbsp;</i>项目概况</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-anim layui-anim-upbit">
                    <div class="layui-block-item layui-elem-quote">
                        <div class="layui-input-inline"><input name="keyword" placeholder="请输入成员的邮箱或名字" v-model='keyword' autocomplete="off" class="layui-input item-search-buttom"></div>
                        <button class="layui-btn layui-btn-small" @click="addTeam()"><i class="fa fa-search" style="font-size:13px!important;">&nbsp;</i>搜索成员</button>

                        <div class="layui-form-item">
                            <div class="item-li admin-li">
                                <p class="title-p">管理员</p>
                                <ul class="list-ul">
                                    <li class="item-child-li pull-left ng-scope">
                                        <ul class="people-ul">
                                            <li class="pull-left name-summary-li">黎哈哈</li>
                                            <li class="pull-left people-li">
                                                <p><span>黎哈哈</span><span class="iconfont">&nbsp;<i class="fa fa-flag"></i></span></p>
                                                <p>超级管理员</p></li>
                                            <li class="pull-right list-li">
                                                <span class="icon-caidan" @click="menuOpen($event)"><i class="fa fa-bars"></i></span>
                                                <div class="list-function-wrap" style="display:none">
                                                    <ul class="list-function-ul">
                                                        <li class="list-function-detail">
                                                            <ul>
                                                                <li>修改备注名</li>
                                                                <li>设为普通成员[读写]</li>
                                                                <li>设为普通成员[只读]</li>
                                                                <li>踢出项目</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item-child-li pull-left">
                                        <ul class="people-ul">
                                            <li class="pull-left name-summary-li">巨沼怪</li>
                                            <li class="pull-left people-li">
                                                <p><span>巨沼怪</span><span class="iconfont"></span></p>
                                                <p>协作管理员</p>
                                            </li>
                                            <li class="pull-right list-li">
                                                <span class="icon-caidan" @click="menuOpen($event)"><i class="fa fa-bars"></i></span>
                                                <div class="list-function-wrap" style="display:none">
                                                    <ul class="list-function-ul">
                                                        <li class="list-function-detail">
                                                            <ul><li>修改备注名</li>
                                                                <li>设为普通成员[读写]</li>
                                                                <li>设为普通成员[只读]</li>
                                                                <li>转让项目</li>
                                                                <li>踢出项目</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="item-li admin-li">
                                <p class="title-p">协作成员</p>
                                <ul class="list-ul">
                                    <li class="item-child-li pull-left">
                                        <ul class="people-ul">
                                            <li class="pull-left name-summary-li">巨沼怪</li>
                                            <li class="pull-left people-li">
                                                <p><span>巨沼怪</span><span class="iconfont"></span></p>
                                                <p>协作管理员</p>
                                            </li>
                                            <li class="pull-right list-li">
                                                <span class="icon-caidan" @click="menuOpen($event)"><i class="fa fa-bars"></i></span>
                                                <div class="list-function-wrap" style="display:none">
                                                    <ul class="list-function-ul">
                                                        <li class="list-function-detail">
                                                            <ul><li>修改备注名</li>
                                                                <li>设为普通成员[读写]</li>
                                                                <li>设为普通成员[只读]</li>
                                                                <li>转让项目</li>
                                                                <li>踢出项目</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item-child-li pull-left">
                                        <ul class="people-ul">
                                            <li class="pull-left name-summary-li">巨沼怪</li>
                                            <li class="pull-left people-li">
                                                <p><span>巨沼怪</span><span class="iconfont"></span></p>
                                                <p>只读成员</p>
                                            </li>
                                            <li class="pull-right list-li">
                                                <span class="icon-caidan" @click="menuOpen($event)"><i class="fa fa-bars"></i></span>
                                                <div class="list-function-wrap" style="display:none">
                                                    <ul class="list-function-ul">
                                                        <li class="list-function-detail">
                                                            <ul><li>修改备注名</li>
                                                                <li>设为普通成员[读写]</li>
                                                                <li>设为普通成员[只读]</li>
                                                                <li>转让项目</li>
                                                                <li>踢出项目</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['layer', "jquery"], function(){
        var $ = layui.jquery,
            layer = layui.layer;

        var lists = new Vue({
            el: "#main",
            data: {
                menu_items: [],
                keyword: '',
                pageAll: 0,
                perPage: 10  // 数字分页
            },

            methods: {
                loadTeamList: function(page){
                    layer.load();
                    $.ajax({
                        url : "/project/team" + "?page=" + page,
                        type: "GET",
                        dataType: "json",
                        error:function(){layer.msg('请求列表失败!', {anim: 6})},
                        success:function(res){
                            layer.closeAll('loading');
                            if (res.status > 0) {
                                lists.perPage = res.data.per_page;
                                lists.pageAll = res.data.last_page; // 数字分页
                                lists.menu_items = res.data.data;
                            }else{
                                layer.msg(res.msg, {anim: 6});
                            }
                        }
                    });
                },

                addTeam: function(id){
                    layer.open({
                        type: 2
                        ,title: '项目添加'
                        ,id: 'menu'
                        ,content: ["{:Url('project/create')}" + "?id=" + id, 'no']
                        ,shade: 0
                        ,area: ['532px', '623px']
                        ,end: function(){
                            lists.loadProjectList(1);
                            // window.location.reload();
                        }
                    });
                },

                teamClick: function(type, id){
                    if(type == 1){
                        this.addMenu(id);
                    }else if(type == 2){
                        layer.open({
                            type: 2
                            ,title: '项目修改'
                            ,content: ["/admin/project/" + id + "/edit", 'no']
                            ,shade: 0
                            ,area: ['532px', '623px']
                            ,end: function(){
                                lists.loadProjectList(1);
                            }
                        });
                    }else if(type == 3){
                        layer.confirm('你确定要删除吗？', {
                            btn: ['继续','取消']
                        }, function(){
                            $.ajax({
                                url : "/admin/project/" + id,
                                type: "DELETE",
                                error:function(){layer.msg('删除失败！', {anim: 6})},
                                success:function(res){
                                    layer.msg("删除成功！", {time: 1000, icon: 1});
                                    lists.loadProjectList(1);
                                }
                            });
                        });
                    }else{
                        layer.msg("参数错误");
                    }
                },

                menuOpen: function(e){
                    $(e.target).parent().next().show();
                    $(e.target).parent().next().mouseleave(function(){$(this).hide();});
                }
            },

            mounted: function(){
//                this.loadTeamList(1);
            }
        });
    });
</script>
{/block}