{extend name="common@public/base" /}
{block name="main"}
<div class="layui-body" id="main">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-exclamation-circle">&nbsp;&nbsp;</i>项目概况</li>
        </ul>
        <div class="layui-tab-content" v-cloak>
            <div class="layui-tab-item layui-show">
                <div class="layui-anim layui-anim-upbit">
                    <div class="layui-block-item layui-elem-quote" style="padding:15px 15px 1px 15px">
                        <div class="layui-input-inline"><input name="keyword" placeholder="请输入成员的邮箱或名字" v-model='keyword' autocomplete="off" class="layui-input item-search-buttom"></div>
                        <button class="layui-btn layui-btn-small" @click="addTeam()"><i class="fa fa-search" style="font-size:13px!important;">&nbsp;</i>搜索成员</button>
                        <blockquote style="margin: 14px 0px 0px -20px;" class="layui-elem-quote">在这里你可以查看本项目有哪些人可以操作，那些人有什么权限，以及添加某个成员。</blockquote>

                        <div class="layui-form-item" v-cloak>
                            <div class="item-li admin-li">
                                <p class="title-p"><i class="fa fa-user">&nbsp;&nbsp;</i>管理成员</p>
                                <ul class="list-ul">
                                    <li class="item-child-li pull-left" v-for="item in items.admin">
                                        <ul class="people-ul">
                                            <template v-if="item.user.user_head">
                                                <img :src="item.user.user_head" class="layui-circle pull-left" style="width:41px;">
                                            </template>
                                            <template v-else>
                                                <li v-if="item.remark_name" class="pull-left name-summary-li">{{ item.remark_name.slice(0, 2) }}</li>
                                                <li v-else class="pull-left name-summary-li">{{ item.user.user_name.slice(0, 2) }}</li>
                                            </template>
                                            <li class="pull-left people-li">
                                                <p>
                                                    <span v-if="item.remark_name"><b>{{ item.remark_name }}</b></span>
                                                    <span v-else><b>{{ item.user.user_name }}</b></span>
                                                    <span class="iconfont">&nbsp;<i v-if="item.rule_type.id == 99" class="fa fa-flag"></i></span>
                                                </p>
                                                <p style="color:#999;">{{ item.rule_type.str }}</p>
                                            </li>
                                            <li class="pull-right list-li">
                                                <span class="icon-caidan" @click="menuOpen($event)"><i class="fa fa-bars"></i></span>
                                                <div class="list-function-wrap" style="display:none">
                                                    <ul class="list-function-ul">
                                                        <li class="list-function-detail">
                                                            <ul>
                                                                <li>修改备注名</li>
                                                                <li>设为普通成员[读写]</li>
                                                                <li>设为普通成员[只读]</li>
                                                                <li>踢出项目</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="item-li admin-li" v-show="items.users">
                                <p class="title-p"><i class="fa fa-users">&nbsp;&nbsp;</i>协作成员</p>
                                <ul class="list-ul">
                                    <li class="item-child-li pull-left" v-for="item in items.users">
                                        <ul class="people-ul">
                                            <template v-if="item.user.user_head">
                                                <img :src="item.user.user_head" class="layui-circle pull-left" style="width:41px;">
                                            </template>
                                            <template v-else>
                                                <li v-if="item.remark_name" class="pull-left name-summary-li">{{ item.remark_name.slice(0, 2) }}</li>
                                                <li v-else class="pull-left name-summary-li">{{ item.user.user_name.slice(0, 2) }}</li>
                                            </template>
                                            <li class="pull-left people-li">
                                                <p>
                                                    <span v-if="item.remark_name"><b>{{ item.remark_name }}</b></span>
                                                    <span v-else><b>{{ item.user.user_name }}</b></span>
                                                </p>
                                                <p style="color:#999;">{{ item.rule_type.str }}</p>
                                            </li>
                                            <li class="pull-right list-li">
                                                <span class="icon-caidan" @click="menuOpen($event)"><i class="fa fa-bars"></i></span>
                                                <div class="list-function-wrap" style="display:none">
                                                    <ul class="list-function-ul">
                                                        <li class="list-function-detail">
                                                            <ul><li>修改备注名</li>
                                                                <li>设为普通成员[读写]</li>
                                                                <li>设为普通成员[只读]</li>
                                                                <li>转让项目</li>
                                                                <li>踢出项目</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['layer', "jquery"], function(){
        var $ = layui.jquery,
            layer = layui.layer;

        var lists = new Vue({
            el: "#main",
            data: {
                project_id: "{$id}",
                items: {},
                keyword: ''
            },

            methods: {
                loadTeamList: function(){
                    layer.load();
                    $.ajax({
                        url : "/project/team/" + this.project_id + "?keyword=" + this.keyword,
                        type: "GET",
                        dataType: "json",
                        error:function(){layer.msg('请求列表失败!', {anim: 6})},
                        success:function(res){
                            layer.closeAll('loading');
                            if (res.code > 0) {
                                lists.items = res.data;
                            }else{
                                layer.msg(res.msg, {anim: 6});
                            }
                        }
                    });
                },

                addTeam: function(id){
                    layer.open({
                        type: 2
                        ,title: '项目添加'
                        ,id: 'menu'
                        ,content: ["{:Url('project/create')}" + "?id=" + id, 'no']
                        ,shade: 0
                        ,area: ['532px', '623px']
                        ,end: function(){
                            lists.loadProjectList(1);
                            // window.location.reload();
                        }
                    });
                },

                teamClick: function(type, id){
                    if(type == 1){
                        this.addMenu(id);
                    }else if(type == 2){
                        layer.open({
                            type: 2
                            ,title: '项目修改'
                            ,content: ["/admin/project/" + id + "/edit", 'no']
                            ,shade: 0
                            ,area: ['532px', '623px']
                            ,end: function(){
                                lists.loadProjectList(1);
                            }
                        });
                    }else if(type == 3){
                        layer.confirm('你确定要删除吗？', {
                            btn: ['继续','取消']
                        }, function(){
                            $.ajax({
                                url : "/admin/project/" + id,
                                type: "DELETE",
                                error:function(){layer.msg('删除失败！', {anim: 6})},
                                success:function(res){
                                    layer.msg(res.msg, {time: 1000, icon: 1});
                                    lists.loadProjectList(1);
                                }
                            });
                        });
                    }else{
                        layer.msg("参数错误");
                    }
                },

                menuOpen: function(e){
                    $(e.target).parent().next().show();
                    $(e.target).parent().next().mouseleave(function(){$(this).hide();});
                }
            },

            mounted: function(){
               this.loadTeamList(1);
            }
        });
    });
</script>
{/block}