<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>23333</title>
    <link rel="stylesheet" href="__CSS__/layui.css">
    <link rel="stylesheet" href="__CSS__/admin.css">
    <link rel="stylesheet" href="__STATIC__/fontawesome/css/font-awesome.min.css">
    <!-- 自定义头部区域 -->
    {block name="head"}{/block}
</head>
<body>
<!-- 内容区 -->
{block name="main"}{/block}

<script src="__STATIC__/layui.all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<!-- 自定义js区域 -->
{block name="js"}{/block}
</body>
</html>