{extend name="common@public/open" /}
{block name="main"}
<blockquote class="layui-elem-quote layui-text layui-text-title">
    添加或编辑一个分组
</blockquote>
<div class="layui-tab-content" style="min-height:500px;">
    <form class="layui-form" action="">
        <input type="hidden" name="project_id" value="{$project_id}" />
        <input type="hidden" name="group_id" value="{$group_id}" />
        <input type="hidden" name="group_type" value="{$group_type}" />
        <div class="layui-form-item">
            <label class="layui-form-label">选择父分组</label>
            <div class="layui-input-block">
                <select name="group_parent_id" lay-filter="aihao" lay-verify="required">
                    <option value=0>-不设置父分组-</option>
                    {notempty name="group_parent_id"}
                        {volist name=":model('ProjectGroup')->where(['group_parent_id' => 0, 'project_id' => $project_id, 'group_type' => $group_type])->column('group_id', 'group_name')" id="vo"}
                        <option value="{$vo}" {eq name="vo" value="$group_parent_id"}selected{/eq}>{$key}</option>
                        {/volist}
                    {/notempty}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分组名称</label>
            <div class="layui-input-block">
                <input type="text" name="group_name" lay-verify="required" placeholder="请输入分组名称" autocomplete="off" class="layui-input" value="{$group_name}">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block layui-input-submit">
                <button class="layui-btn layui-btn-small" lay-submit="group" lay-filter="group">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-small layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form', 'jquery'], function(){
        var $ = layui.jquery,
            form = layui.form;

        form.on('submit(group)', function(data){
            if(data.field.group_id == 0){
                $.post("/project/project_group", data.field, function(res){
                    if(res.code > 0){
                        parent.layer.closeAll();
                        parent.window.location.reload();
                    }else{
                        parent.layer.msg(res.msg, {time: 2000, icon: 2});
                    }
                });
            }else{
                $.ajax({
                    url: "/project/project_group/" + data.field.group_id,
                    type: "PUT",
                    data: data.field,
                    success: function(res){
                        if(res.code > 0){
                            parent.layer.closeAll();
                            parent.window.location.reload();
                        }else{
                            parent.layer.msg(res.msg, {time: 2000, icon: 2});
                        }
                    }
                });
            }
        });
    });
</script>
{/block}