<div class="layui-side " style="
    top: 80px;
    width: 200px;
    overflow-x: hidden;
    background: #fff;
    border-radius: 0px 3px 3px 0px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;">
    <div class="layui-side-scroll">
        <!--lay-filter="test"-->
        <ul class="layui-nav layui-nav-tree" style="background-color: #ffffff;">
            {foreach $menu as $vo}
                {if condition="($vo.cate_ParentId eq 0) and (empty($vo.items) eq true)"}
                    <li class="layui-nav-item {if condition="$vo.cate_Model eq $route"}layui-this-new{/if}"><a href="{$vo['cate_Model']|handleUrl}" title="{$vo.cate_Intro}"><i class="fa fa-{$vo.cate_Icon}">&nbsp;&nbsp;</i>{$vo.cate_Name}</a></li>
                {else /}
                    <!--<li class="layui-nav-item layui-nav-itemed" {if condition="$vo.cate_Model eq $route"}layui-this-new{/if}>-->
                    <li class="{:menuClass($vo, $route)}">
                        <a href="javascript:;" title="{$vo.cate_Intro}"><i class="fa fa-{$vo.cate_Icon}">&nbsp;&nbsp;</i>{$vo.cate_Name}</a>
                        {:procMenuHtml($vo.items, $route)}
                    </li>
                {/if}
            {/foreach}
        </ul>
    </div>
</div>