{extend name="common@public/open" /}
{block name="main"}
<blockquote class="layui-elem-quote layui-text layui-text-title">
    添加或编辑一个栏目
</blockquote>

<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">-->
    <!--<legend>栏目（{:request()->action()}）</legend>-->
<!--</fieldset>-->

<div class="layui-tab-content" style="min-height:500px;">
    <form class="layui-form" action="">
        <input type="hidden" name="cate_ParentId" value="{$cate_ParentId}" />
        <input type="hidden" name="cate_Type" value="{$cate_Type}" />
        <input type="hidden" name="cate_Id" value="{$cate_Id}" />
        <div class="layui-form-item">
            <label class="layui-form-label">选择图标</label>
            <div class="layui-input-block">
                <select name="cate_Icon" lay-filter="aihao" lay-verify="required">
                    <option value="">请选择</option>
                    {:widget('common/BaseConfigWidget/icon', ['value' => $cate_Icon])}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">栏目名称</label>
            <div class="layui-input-block">
                <input type="text" name="cate_Name" lay-verify="required" placeholder="请输入栏目名称" autocomplete="off" class="layui-input" value="{$cate_Name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">栏目备注</label>
            <div class="layui-input-block">
                <input type="text" name="cate_Intro" lay-verify="title" autocomplete="off" placeholder="请输入栏目备注" class="layui-input" value="{$cate_Intro}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">栏目Model</label>
            <div class="layui-input-block">
                <input type="text" name="cate_Model" lay-verify="required" autocomplete="off" placeholder="请输入栏目链接" class="layui-input" value="{$cate_Model}">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block layui-input-submit">
                <button class="layui-btn layui-btn-small" lay-submit="menu" lay-filter="menu" >立即提交</button>
                <button type="reset" class="layui-btn layui-btn-small layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form', 'jquery'], function(){
        var $ = layui.jquery,
            form = layui.form;

        $(".layui-anim-upbit>dd").each(function(e){
            if(e > 0) $(this).html('<i class="fa fa-'+ $(this).attr('lay-value') +'"></i>  ' + $(this).attr('lay-value'));
        });

        form.on('submit(menu)', function(data){
            if(data.field.cate_Id == 0){
                $.post("/admin/menu", data.field, function(res){
                    if(res.code > 0)
                        parent.layer.closeAll();
                    else
                        parent.layer.msg(res.msg, {time: 2000, icon: 2});
                });
            }else{
                $.ajax({
                    url: "/admin/menu/" + data.field.cate_Id,
                    type: "PUT",
                    data: data.field,
                    success: function(res){
                        if(res.code > 0)
                            parent.layer.closeAll();
                        else
                            parent.layer.msg(res.msg, {time: 2000, icon: 2});
                    }
                });
            }
        });
    });
</script>
{/block}